.nav-item:hover {
    background: linear-gradient(90deg, rgba(155,0,0,1) 0%, rgba(0,0,155,1) 100%);
    border-radius: 3px;
}

.hoverable:hover>.hoverable__tooltip {
    display: inline;
    position: absolute;
    top: 1em;
    left: 1em;
    background: #888;
    border: 5px solid black;
}
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.right {
  text-align: right;
  position: relative;
  padding-right: 20px;
  margin-top: 0px;
}

body{
  background-color: linear-gradient(90deg, rgba(155,0,0,1) 0%, rgba(0,0,155,1) 100%);
  margin: 0;
  overflow: hidden;
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}